.main-story >img{
  width: 100%;
}
.main-story a{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.3rem;
    font-weight: 650;
}
.main-story p{
    color: #444;
    font-size: 1rem;
    margin-top: 2%;
}
.my-titles{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.25rem;
    font-weight: 680;
}
.my-titles-featured{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.05rem;
    font-weight: 700; 
}
.unique{
    color: rgba(3,3,3,.4);
    font-weight: 750;
    font-size:0.8rem;
    padding:2% 0% 2% 1%;
}
.sub_main>img{
   width: 135px;
   padding-top: 2.5%;
   padding-bottom: 2.5%;
}
.sub_main {
    display: flex;
 }
.sub_main a{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1rem;
    font-weight: 650;
    display: block;
    padding-left: 3%;
    padding-top: 2.5%;
 }
 
.sub_main p{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.9rem;
    margin-top: 5%;
    margin-left: 3%;
    padding-bottom: 5%; 
 }
 .feat-story img{
     width: 100%;
 }
 .feat-story a{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.15rem;
    font-weight: 650;
    display: block;
    padding-left: 1%;
    padding-top: 1%; 
 }
 .feat-story p{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.9rem;
    padding: 3% 1% 1% 1%;

}
.panel{
    border-top: 0;
    border:1px solid silver;
    padding: 0% 3% 5% 3%;
}
.feat-story{
    margin-top: 5%;
}
.opinion{
    display: flex;
}
.opinion >div{
  padding-left:2%;
  margin-left:1%;
}
.opinion h1{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.9rem;
    font-weight: 700; 
}

.opinion h8{
    color: #777;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.8rem;
    font-weight: 750; 
}
img[alt="opinion"]{
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

img[alt="opinion"]{
    width: 63px;
    height: 63px;
    border-radius: 50%;
}
.latest_news_section{
    display: flex;
    margin-top: 2%;
}
img[alt="latest"]{
    width: 200px;
}

.latest_news_section h1{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    padding-left:2% ; 
    padding-right: 2%;
}
.clearfix{
    margin-top: 8%;
}
.card{
    padding:0;
    margin: 0;
    margin-top:5%;
}
.card img{
    width: 100%;
}
.card h1{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.15rem;
    font-weight: 650;
    display: block;
    padding-left: 1%;
    padding-top: 1%; 
 }
 .card p{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.9rem;
    padding: 3% 1% 1% 1%;

}
/* begin design and development of section under section one  */

.c{
    background-color: #f72210;
    margin-bottom: 5%;
}
.b:hover{
    background-color: #999;
}
img[alt="feat-story"]{
    width: 100%;  
}
.mag a{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    padding-left:2% ; 
    padding-right: 2%;
    display: block;
}

img[alt="magazine_banner"]{
    margin-left: 25%;
}
img[alt="main_mag"]{
    width: 100%;
    padding-top: 38%;
}
.before-editor{
margin-top: 5%;
}
.sect{
    width: 100%;
    height: 200px;
    border:1px solid red;
}
img[alt="editor_pick"]{
    width: 100%;
}
.header{
    margin: 2% 0 2% 0;
}
.header img{
    margin-left: 40%;
}
.editor a{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    padding-top: 1%;
    padding-bottom: 2%;
}
.editor p{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.9rem;
    padding-top: 2%;
    padding-bottom: 3%;
}
img[alt="featured_slideshow"]{
    width: 100%;
}
img[alt="featured_slideshow"] +a{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: 2%;
    padding-bottom: 3%;  
}
img[alt="others"]{
    width: 100%;
}
img[alt="other_world"]{
    width: 135px;
}
.top a{
    color: #000;
    font-weight: 700;
    font-family: Arial,Helvetica,sans-serif;
    padding:2% 0 0 3%;
}
img[alt="others"] +a{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: 2%;
    padding-bottom: 3%;
}
.clearfix_2{
    height:450px;
}
.before_footer{
    width: 100%;
    height: 460px;
    background-color:#f7f7f7;
    margin-top: 5%; 
}

.before_footer_top{
    display: flex;
    margin-top: 3%; 
}
.before_footer_top > div h1{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 2% 0 0 5%;
}
.before_footer_top > div h6{
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 2% 0 0 5%;
}
.panel{
    padding: 5%;
}
.btn-warning{
    background-color: #f72210;
}
.upper_foot{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}
.lower_foot{
    display: flex;
    justify-content: space-between;
}
ul li{
    display: inline;
}
ul li a{
    border-right: 1px solid silver;
    padding-right: 1%;
    font-size: 0.9rem;
    color: #333;
}
.lower_foot >div:first-child{
    padding-left: 2%;
    padding-right: 3%;
}

.lower_foot >div:last-child{
    padding-left: 2%;
    padding-right: 3%;
}