body{
    background: silver;
    font-family: Arial,Helvetica,sans-serif;
}
.body-wrap{
    background-color: #fff;
}
.container-fluid{
    width:95%;
}
.nav-bar{
    max-width:100%;
    height: 40px;
    background-color: #f72210;
}
.nav-wrap{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
.brand-name{
    width: 132px;
    height: 40px;
    padding-top: 0.4%;
}
.beside-nav >a{
   color: #fff;
   font-size: 0.7rem;
   font-weight: bolder;
   text-transform: uppercase;
}
.beside-nav >button{
    color: #f72210;
    background-color: white;
    border:0;
    margin-top: 2.5%;
    border-radius: 1px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.6rem;
    padding-bottom: 6%;
    padding-top: 6%;
 }
 .fa-bars{
     color: #fff;
     padding-left: 1%;
 }

.left{
    width: 100%;
    height: 500px;
    border:1px solid red;
    margin-top: 1%;
}
.top{
    display: flex;
    margin-top: 3%;
}
footer{
    width: 100%;
}